<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cdut.com.cn.ems.mappers.MessageMapper">
    <insert id="add" parameterType="_Message" useGeneratedKeys="true">
        insert into message(messageTitle,messageType,messageContext,createTime,messager,messageReceiver,receiver_id) values(#{messageTitle},#{messageType},#{messageContext},#{createTime},#{messager},#{messageReceiver},#{receiver_id})
    </insert>
    <select id="findList" parameterType="String" resultType="_Message">
		 select * from message where receiver_id=#{student_id}
	</select>
</mapper>